Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [Tenants] (
    [TenantID] int NOT NULL IDENTITY,
    [CompanyName] nvarchar(500) NULL,
    [CreatedDate] datetime2 NULL,
    CONSTRAINT [PK_Tenants] PRIMARY KEY ([TenantID])
);

CREATE TABLE [Departments] (
    [DepartmentID] int NOT NULL IDENTITY,
    [DepartmentName] nvarchar(255) NOT NULL,
    [TenantID] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Departments] PRIMARY KEY ([DepartmentID]),
    CONSTRAINT [FK_Departments_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE CASCADE
);

CREATE TABLE [Users] (
    [UserID] int NOT NULL IDENTITY,
    [FullName] nvarchar(500) NOT NULL,
    [Email] nvarchar(500) NOT NULL,
    [PasswordHash] nvarchar(500) NOT NULL,
    [RoleID] int NULL,
    [TenantID] int NULL,
    [CreatedAt] datetime2 NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([UserID]),
    CONSTRAINT [FK_Users_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID])
);

CREATE TABLE [Budgets] (
    [BudgetID] int NOT NULL IDENTITY,
    [DepartmentID] int NOT NULL,
    [TenantID] int NOT NULL,
    [Category] nvarchar(255) NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Year] int NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedBy] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Budgets] PRIMARY KEY ([BudgetID]),
    CONSTRAINT [FK_Budgets_Departments_DepartmentID] FOREIGN KEY ([DepartmentID]) REFERENCES [Departments] ([DepartmentID]) ON DELETE CASCADE,
    CONSTRAINT [FK_Budgets_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE CASCADE,
    CONSTRAINT [FK_Budgets_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([UserID]) ON DELETE CASCADE
);

CREATE TABLE [Forecasts] (
    [ForecastID] int NOT NULL IDENTITY,
    [DepartmentID] int NOT NULL,
    [TenantID] int NOT NULL,
    [BudgetID] int NOT NULL,
    [ForecastType] nvarchar(50) NOT NULL,
    [PredictedAmount] decimal(18,2) NOT NULL,
    [Year] int NOT NULL,
    [CreatedBy] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Forecasts] PRIMARY KEY ([ForecastID]),
    CONSTRAINT [FK_Forecasts_Budgets_BudgetID] FOREIGN KEY ([BudgetID]) REFERENCES [Budgets] ([BudgetID]) ON DELETE CASCADE,
    CONSTRAINT [FK_Forecasts_Departments_DepartmentID] FOREIGN KEY ([DepartmentID]) REFERENCES [Departments] ([DepartmentID]) ON DELETE CASCADE,
    CONSTRAINT [FK_Forecasts_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE CASCADE,
    CONSTRAINT [FK_Forecasts_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([UserID]) ON DELETE CASCADE
);

CREATE TABLE [Scenarios] (
    [ScenarioID] int NOT NULL IDENTITY,
    [ScenarioName] nvarchar(255) NOT NULL,
    [Description] nvarchar(1000) NULL,
    [TenantID] int NOT NULL,
    [CreatedBy] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Scenarios] PRIMARY KEY ([ScenarioID]),
    CONSTRAINT [FK_Scenarios_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE CASCADE,
    CONSTRAINT [FK_Scenarios_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([UserID]) ON DELETE CASCADE
);

CREATE TABLE [ScenarioDetails] (
    [ScenarioDetailID] int NOT NULL IDENTITY,
    [ScenarioID] int NOT NULL,
    [BudgetID] int NOT NULL,
    [DepartmentID] int NOT NULL,
    [AdjustedAmount] decimal(18,2) NOT NULL,
    [TenantID] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_ScenarioDetails] PRIMARY KEY ([ScenarioDetailID]),
    CONSTRAINT [FK_ScenarioDetails_Scenarios_ScenarioID] FOREIGN KEY ([ScenarioID]) REFERENCES [Scenarios] ([ScenarioID]) ON DELETE CASCADE,
    CONSTRAINT [FK_ScenarioDetails_Budgets_BudgetID] FOREIGN KEY ([BudgetID]) REFERENCES [Budgets] ([BudgetID]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ScenarioDetails_Departments_DepartmentID] FOREIGN KEY ([DepartmentID]) REFERENCES [Departments] ([DepartmentID]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ScenarioDetails_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE CASCADE
);

CREATE INDEX [IX_Budgets_CreatedBy] ON [Budgets] ([CreatedBy]);

CREATE INDEX [IX_Budgets_DepartmentID] ON [Budgets] ([DepartmentID]);

CREATE INDEX [IX_Budgets_TenantID] ON [Budgets] ([TenantID]);

CREATE INDEX [IX_Departments_TenantID] ON [Departments] ([TenantID]);

CREATE INDEX [IX_Forecasts_BudgetID] ON [Forecasts] ([BudgetID]);

CREATE INDEX [IX_Forecasts_CreatedBy] ON [Forecasts] ([CreatedBy]);

CREATE INDEX [IX_Forecasts_DepartmentID] ON [Forecasts] ([DepartmentID]);

CREATE INDEX [IX_Forecasts_TenantID] ON [Forecasts] ([TenantID]);

CREATE INDEX [IX_Users_TenantID] ON [Users] ([TenantID]);

CREATE UNIQUE INDEX [IX_Users_Email] ON [Users] ([Email]);

CREATE INDEX [IX_Scenarios_CreatedBy] ON [Scenarios] ([CreatedBy]);

CREATE INDEX [IX_Scenarios_TenantID] ON [Scenarios] ([TenantID]);

CREATE INDEX [IX_ScenarioDetails_ScenarioID] ON [ScenarioDetails] ([ScenarioID]);

CREATE INDEX [IX_ScenarioDetails_BudgetID] ON [ScenarioDetails] ([BudgetID]);

CREATE INDEX [IX_ScenarioDetails_DepartmentID] ON [ScenarioDetails] ([DepartmentID]);

CREATE INDEX [IX_ScenarioDetails_TenantID] ON [ScenarioDetails] ([TenantID]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260416182408_AddScenarioAndScenarioDetail', N'9.0.0');

ALTER TABLE [Users] ADD [DepartmentID] int NULL;

ALTER TABLE [Users] ADD [IsArchived] bit NOT NULL DEFAULT CAST(0 AS bit);

CREATE INDEX [IX_Users_DepartmentID] ON [Users] ([DepartmentID]);

ALTER TABLE [Users] ADD CONSTRAINT [FK_Users_Departments_DepartmentID] FOREIGN KEY ([DepartmentID]) REFERENCES [Departments] ([DepartmentID]) ON DELETE NO ACTION;

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260417185342_AddUserDepartmentAndIsArchived', N'9.0.0');

ALTER TABLE [Tenants] ADD [StripeCustomerId] nvarchar(100) NULL;

ALTER TABLE [Tenants] ADD [StripeSubscriptionId] nvarchar(100) NULL;

ALTER TABLE [Tenants] ADD [SubscriptionPlan] nvarchar(50) NULL;

ALTER TABLE [Tenants] ADD [SubscriptionStatus] nvarchar(50) NULL;

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260503154449_AddStripeFieldsToTenant', N'9.0.0');

ALTER TABLE [Users] DROP CONSTRAINT [FK_Users_Tenants_TenantID];

ALTER TABLE [Users] ADD [FailedLoginAttempts] int NOT NULL DEFAULT 0;

ALTER TABLE [Users] ADD [LockoutEnd] datetime2 NULL;

CREATE TABLE [Plans] (
    [PlanID] int NOT NULL IDENTITY,
    [PlanName] nvarchar(100) NOT NULL,
    [Description] nvarchar(255) NULL,
    [Price] decimal(18,2) NOT NULL,
    [DurationInMonths] int NOT NULL,
    [StripePriceID] nvarchar(150) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Plans] PRIMARY KEY ([PlanID])
);

CREATE TABLE [Subscriptions] (
    [SubscriptionID] int NOT NULL IDENTITY,
    [TenantID] int NOT NULL,
    [PlanID] int NOT NULL,
    [StripeSubscriptionID] nvarchar(150) NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Subscriptions] PRIMARY KEY ([SubscriptionID]),
    CONSTRAINT [FK_Subscriptions_Plans_PlanID] FOREIGN KEY ([PlanID]) REFERENCES [Plans] ([PlanID]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Subscriptions_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE NO ACTION
);

CREATE TABLE [Payments] (
    [PaymentID] int NOT NULL IDENTITY,
    [TenantID] int NOT NULL,
    [SubscriptionID] int NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Currency] nvarchar(10) NOT NULL,
    [PaymentMethod] nvarchar(50) NOT NULL,
    [PaymentStatus] nvarchar(50) NOT NULL,
    [StripeSessionID] nvarchar(150) NULL,
    [StripePaymentIntentID] nvarchar(150) NULL,
    [PaymentDate] datetime2 NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Payments] PRIMARY KEY ([PaymentID]),
    CONSTRAINT [FK_Payments_Subscriptions_SubscriptionID] FOREIGN KEY ([SubscriptionID]) REFERENCES [Subscriptions] ([SubscriptionID]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Payments_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE NO ACTION
);

CREATE INDEX [IX_Payments_SubscriptionID] ON [Payments] ([SubscriptionID]);

CREATE INDEX [IX_Payments_TenantID] ON [Payments] ([TenantID]);

CREATE INDEX [IX_Subscriptions_PlanID] ON [Subscriptions] ([PlanID]);

CREATE INDEX [IX_Subscriptions_TenantID] ON [Subscriptions] ([TenantID]);

ALTER TABLE [Users] ADD CONSTRAINT [FK_Users_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE NO ACTION;


ALTER TABLE [Users] ADD [FailedOTPAttempts] int NOT NULL DEFAULT 0;

ALTER TABLE [Users] ADD [IsTwoFactorEnabled] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Users] ADD [LastOTPSentAt] datetime2 NULL;

ALTER TABLE [Users] ADD [OTPCode] nvarchar(500) NULL;

ALTER TABLE [Users] ADD [OTPExpiration] datetime2 NULL;

ALTER TABLE [Users] ADD [OTPLockoutEnd] datetime2 NULL;

ALTER TABLE [Users] ADD [TwoFactorSecretKey] nvarchar(500) NULL;

CREATE TABLE [AuditLogs] (
    [AuditLogID] int NOT NULL IDENTITY,
    [TenantID] int NULL,
    [UserID] int NULL,
    [LogType] nvarchar(50) NOT NULL,
    [Severity] nvarchar(50) NOT NULL,
    [Action] nvarchar(200) NOT NULL,
    [Details] nvarchar(2000) NULL,
    [IPAddress] nvarchar(50) NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_AuditLogs] PRIMARY KEY ([AuditLogID]),
    CONSTRAINT [FK_AuditLogs_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]) ON DELETE NO ACTION,
    CONSTRAINT [FK_AuditLogs_Users_UserID] FOREIGN KEY ([UserID]) REFERENCES [Users] ([UserID]) ON DELETE NO ACTION
);

CREATE TABLE [Notifications] (
    [NotificationID] int NOT NULL IDENTITY,
    [TenantID] int NULL,
    [UserID] int NULL,
    [Title] nvarchar(150) NOT NULL,
    [Message] nvarchar(500) NOT NULL,
    [NotificationType] nvarchar(50) NOT NULL,
    [IsRead] bit NOT NULL,
    [RedirectUrl] nvarchar(255) NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Notifications] PRIMARY KEY ([NotificationID]),
    CONSTRAINT [FK_Notifications_Tenants_TenantID] FOREIGN KEY ([TenantID]) REFERENCES [Tenants] ([TenantID]),
    CONSTRAINT [FK_Notifications_Users_UserID] FOREIGN KEY ([UserID]) REFERENCES [Users] ([UserID])
);

CREATE INDEX [IX_AuditLogs_TenantID] ON [AuditLogs] ([TenantID]);

CREATE INDEX [IX_AuditLogs_UserID] ON [AuditLogs] ([UserID]);

CREATE INDEX [IX_Notifications_TenantID] ON [Notifications] ([TenantID]);

CREATE INDEX [IX_Notifications_UserID] ON [Notifications] ([UserID]);



ALTER TABLE [BudgetRequests] ADD [DateNeeded] datetime2 NOT NULL DEFAULT (GETDATE());

ALTER TABLE [BudgetRequests] ADD [Description] nvarchar(1000) NULL;

ALTER TABLE [BudgetRequests] ADD [Title] nvarchar(255) NOT NULL DEFAULT N'Budget Request';


COMMIT;
GO


